<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Kiểm Tra URL</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="icon" href="/images/icon.ico" type="image/x-icon">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2" style="margin-top: 50px;">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Kiểm tra URL</h3>
          </div>
          <div class="panel-body">
            <form action="/api/v2/check_url" method="GET">
              <legend>Nhập Vào URL</legend>
              <div class="form-group">
                <input type="text" class="form-control" name="url_scan" value="<%=_url_scan %>" required>
              </div>
              <button type="submit" class="btn btn-primary">Kiểm Tra</button>
            </form>
            <h3 style="color: red;text-align: center"><%= mess %></h3>
          </div>
        </div>
        <% if(result_check_url) { %>
          <br/>
          <br/>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Kết Quả</h3>
            </div>
            <div class="panel-body">
              <%  if(result_check_url.positives == -1) {  %>
                <h4>Tỉ Lệ: <b style="color: blue;"> --- / ---</b></h4>
                <h4><b style="color: fuchsia;">Đủ 18+ Chưa.</b></h4>
              <% } else if(result_check_url.positives == 0) {  %>
                <h4>Tỉ Lệ: <b style="color: blue;"> 0 / <%= result_check_url.total %></b></h4>
                <h4><b style="color: green;">Không Có Nguy Hiểm.</b></h4>
                <h4 style="text-align: right;"><a href="<%= result_check_url.permalink %>" target="_blank">Xem Chi Tiết</a></h4>
              <% } else { %>
                <h4>Tỉ Lệ: <b style="color: red;"><%= result_check_url.positives %> / <%= result_check_url.total %></b></h4>
                <h4><b style="color: red;">Nguy Hiểm.</b></h4>
                <h4 style="text-align: right;"><a href="<%= result_check_url.permalink %>" target="_blank">Xem Chi Tiết</a></h4>
              <% } %>
            </div>
          </div>
          <% } %>
      </div>
    </div>
  </div>
</body>

</html>